<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/gru97/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="gru97" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>